.trusted-by {
  width: 100%;
  height: 441px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 120px;
  background-color: #fff7cc;
}

.trusted-by_container {
  width: 1680px;
  height: 321px;
}

.header-section {
  width: 100%;
  height: 60px;
  margin-bottom: 60px;
}

.header-section h2 {
  text-align: center;
  font-family: "Quicksand";
  font-size: 3.3em;
}

.collabs-logo {
  display: flex;
  width: 977.44px;
  height: 201px;
}

.logox {
  display: inline-block;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.logox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo1,
.logo2,
.logo3 {
  margin-right: 60px;
}

.slide-up {
  animation: slideUp 0.8s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
