.contact {
  width: 100%;
  height: 460px;
  padding: 60px 120px 0 120px;
  background-color: #0a0800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  width: 1200px;
  height: 400px;
  display: flex;
}

.contact-info {
  padding-top: 100px;
  padding-left: 150px;
}

.contact-header {
  margin-bottom: 24px;
}

.contact-header h2 {
  font-family: "Quicksand";
  font-size: 2.3em;
  color: #fff7cc;
}

.contact-data p {
  color: #fff7cc;
  font-family: "Inter";
  margin-bottom: 24px;
}

.contact-buttons {
  width: 500px;
  height: 45px;
}

.btn1 {
  width: 226px;
  height: 100%;
  margin-right: 24px;
  border-radius: 8px;
  border: 2px solid #f24a0d;
  background-color: #f24a0d;
  color: #0a0800;
  font-family: "Quicksand";
  font-size: 1.1em;
  font-weight: bold;
  transition: ease 0.3s;
}

.btn1:hover {
  color: #fff7cc;
  cursor: pointer;
}

.btn1:active {
  border: 2px solid #0a0800;
}

.btn2 {
  width: 226px;
  height: 100%;
  border-radius: 8px;
  border: 2px solid #f24a0d;
  background-color: #0a0800;
  color: #f24a0d;
  font-family: "Quicksand";
  font-size: 1.1em;
  font-weight: bold;
  transition: ease 0.3s;
}

.btn2:hover {
  color: #fff7cc;
  background-color: #f24a0d;
}
